<!-- Gif Cover Section -->
<div class="jumbotron headerwrap">
  <h1 class="align covercolor1">Welcome to Seatyourself!</h1>
  <p class="align covercolor">The number #1 site to reserve restaurant tables</p>
  <p class="align"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<!-- New Restaurant portfolio section -->

<section id="portfolio">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Restaurants</h2>
              <hr class="star-primary">
          </div>
      </div>
      <div class="row">
        <% @restaurants.each do |restaurant| %>
          <div class="col-sm-4 portfolio-item">
            <%= link_to restaurant_path(restaurant), :class => "portfolio-link" do %>
              <div class="caption">
                <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <%= image_tag restaurant.image.url(:medium),:class => 'img-responsive' %>
            <% end %>
          </div>
        <% end %>
        <p class="align"><a class="btn btn-primary btn-lg" href="#" role="button">Add Restaurant</a></p>
      </div>
    </div>
</section>





