<!-- Gif Cover Section -->
<div class="jumbotron headerwrap">
  <h1 class="align covercolor1">Welcome to Seatyourself!</h1>
  <p class="align covercolor">The number #1 site to reserve restaurant tables</p>
  <p class="align"><a class="btn btn-primary btn-lg" href="#about" role="button">Learn more</a></p>
</div>

<!-- New Restaurant portfolio section -->

<section id="portfolio">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Restaurants</h2>
              <hr class="star-primary">
          </div>
      </div>
      <div class="row">
        <% @restaurants.each do |restaurant| %>
          <div class="col-sm-4 portfolio-item">

            <%= link_to restaurant_path(restaurant), :class => "portfolio-link" do %>
              <div class="caption">
                <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/Resturant.jpg" alt="" class="img-responsive">
            <% end %>
            <div class="restaurant-index-test">
              <%= link_to restaurant.name,restaurant_path(restaurant), :class => "restaurant-index"%>
            </div>
          </div>
        <% end %>
   <!--      <p class="align"><a class="btn btn-primary btn-lg" href="#" role="button">Add Restaurant</a></p> -->
      </div>
    </div>
</section>

  <!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Quisque nisi ex, egestas vel tempus at, tempor eu diam. Pellentesque esteines ullamcorper faucibus ornare. Maecenai posuere lacus eu luctus tincidunt. Duis euismod augue eu sem tristique portai. Nam placerat aliquet dolor, in congueit dui fermentum et nueve doz trec domt.</p>
            </div>
            <div class="col-lg-4">
                <p>Nulla a libero ac sapien finibus hasddd malesuada. Suspendisse in lacinia don risus. Cras id dui lobortis, bibendum itt nibh eu, vestibulum purus. Maecenass sit amet consequat nisi. Maecenas quii pellentesque ipsum.Nam placerat jogsi aliquet dolor, in congue dui fermentum.</p>
            </div>
        </div>
    </div>
</section>

